    <button id="btn-back-to-top"
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="flex justify-center items-center fixed hidden w-10 h-10 rounded-full text-black bg-red-500 hover:bg-red-200 dark:text-white dark:bg-red-800 dark:hover:bg-red-700"
            style="bottom: 20px; left: 20px">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             fill="currentColor"
             stroke-width="2.5"
             stroke="currentColor"
             class="h-4 w-4">
            <path fill-rule="evenodd"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"
                  clip-rule="evenodd" />
        </svg>
    </button>