.scale-hover-animation {
    transition: transform .5s; /* Animation */
}

.scale-hover-animation:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* 
    Scrollbar hiding 
*/
@media (max-width: 1280px) {
    #notification-dropdown {
        right: 0.5rem;
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    body::-webkit-scrollbar {
        display: none;
    }

    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
    body::-webkit-scrollbar {
        display: none;
    }

    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
    body::-webkit-scrollbar {
        display: none;
    }

    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/* 
    Scrollbar styling
*/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Track */
::-webkit-scrollbar-track {
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
