@{
    ViewData["TITLE"] = "MR Iniciar sesion";
}

<div class="max-w-md" style="margin: 1rem auto;">
    <form method="post">
        <div class="my-6">
            <label for="usernameOrEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email / Usuario</label>
            <input type="text" name="usernameOrEmail" id="usernameOrEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@example.com" required>
        </div>
        <div class="mb-6">
            <label for="signPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input type="password" id="signPassword" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" typeof="password" required>
        </div>

        <button type="submit" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            Login
        </button>

        <div class="mt-10 text-sm font-medium text-gray-500 dark:text-gray-300">
            ¿No eres usuario? <a asp-controller="Managed" asp-action="Signup" class="text-blue-700 hover:underline dark:text-blue-500">Registrarme</a>
        </div>
    </form>

    @{
        if (ViewData["MESSAGE"] != null)
        {
            <div class="p-4 my-6 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Error: </span> @Html.Raw(ViewData["MESSAGE"])
            </div>
        }

        if (ViewData["SUCCESS"] != null)
        {
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                @ViewData["SUCCESS"]
            </div>
        }
    }
</div>
