@{
    Layout = "_Layout";
}

@{
    ViewData["TITLE"] = "Acerca de";
}

<section class="dark:text-white">
    <h1 class="text-2xl">Bienvenido a MoodReboot, una plataforma de aprendizaje en línea que ofrece una experiencia educativa personalizada, flexible y accesible para estudiantes de todo el mundo.</h1>
    <br />
    <p>En MoodReboot, creemos que la educación debería ser una experiencia transformadora y emocionante que abra puertas y proporcione oportunidades para el crecimiento personal y profesional. Nuestra plataforma ofrece una amplia variedad de cursos en temas que van desde la tecnología hasta las habilidades empresariales y personales, diseñados para satisfacer las necesidades y objetivos de aprendizaje de nuestros estudiantes.</p>

    <p>Creemos que el aprendizaje debe ser una experiencia personalizada y adaptativa. Por eso, nuestra plataforma está diseñada para permitir que los estudiantes trabajen a su propio ritmo y adapten el contenido a sus necesidades y objetivos específicos. Además, ofrecemos herramientas de colaboración y una comunidad de apoyo en línea para permitir a los estudiantes conectarse y colaborar con otros estudiantes en todo el mundo.</p>

    <p>En MoodReboot, nos comprometemos a mantener la plataforma actualizada con los cursos y materiales más modernos y efectivos para asegurarnos de que nuestros estudiantes tengan las herramientas que necesitan para alcanzar sus objetivos de aprendizaje.</p>

    <p>Estamos dedicados a hacer que la educación sea accesible para todos. Por eso, nuestra plataforma es accesible para estudiantes de todo el mundo, independientemente de sus habilidades físicas o cognitivas.</p>

    <p>Si estás listo para comenzar tu viaje de aprendizaje con MoodReboot, regístrate hoy y descubre todo lo que nuestra plataforma tiene para ofrecer. ¡Bienvenido a MoodReboot!</p>
</section>
