@{
    Layout = "_Layout";
}

@{
    ViewData["TITLE"] = "Contacto";
}

<div class="max-w-screen-md mb-8 lg:mb-16">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Contacta con nosotros</h2>
    <p class="text-gray-500 sm:text-xl dark:text-gray-400"><a href="mailto:moodreboot@gmail.com">moodreboot@gmail.com</a></p>
</div>