@model MoodReboot.Models.UserRegisterModel

@{
    ViewData["Title"] = "MR Cambio contraseña";
}

<h1>Cambio de contraseña</h1>

<div class="row">
    <div class="col-md-4 max-w-md" style="margin: 1rem auto;">
        <form method="post">

            <input name="token" type="hidden" value="@ViewData["TOKEN"]" />
            <input name="userId" type="hidden" value="@ViewData["USERID"]" />

            <div asp-validation-summary="ModelOnly" class="font-medium animate-pulse text-red-600"></div>
            <div class="mb-6">
                <label asp-for="Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input asp-for="Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="password" required />

                <span asp-validation-for="Password" class="font-medium animate-pulse text-red-600"></span>
            </div>
            <div class="mb-6">
                <label asp-for="ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input asp-for="ConfirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="password" required />

                <span asp-validation-for="ConfirmPassword" class="font-medium animate-pulse text-red-600"></span>
            </div>

            <div class="mt-10 text-sm font-medium text-gray-500 dark:text-gray-300">
                ¿Ya eres usuario? <a asp-controller="Users" asp-action="Profile" class="text-blue-700 hover:underline dark:text-blue-500">Iniciar sesión</a>
            </div>
        </form>
    </div>
</div>

@{
    if (ViewData["ERROR"] != null)
    {
        <div class="p-4 my-6 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium animate-pulse text-red-600">Error: </span> @ViewData["ERROR"]
        </div>
    }
}
